<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link id="appFavicon" rel="icon" type="image/x-icon"

      href="img/favicon-SNT.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous">
    <title>Financiamento de veículos com Santander</title>
  </head>

  <body class=" row banco body">
    <div class="vermelho m-0 p-0">
      <h1 class=" row justify-content-center align-items-center"><img class="
          m-3
          logo" src="img/logo-header.svg"></h1>
    </div>

    <style>
  ::placeholder{
  color: #8b8c99;
}
input[type="range"] {
  appearance: none;
  width: 100%;
  height: 10px;
  color: blue;
  background-color: #ddd;
  border-radius: 10px;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
}
@media screen and (max-width: 1500px) {
  ul {
    padding: 2px;
  }
  .pesquisaR{
    padding: 79px 0 55px;
  }
  .textare {
    overflow-y: hidden;
    font-weight: 600;
    color: #2e2d37;
    padding: 0;
    margin: 0;
    left: -54px;
    /* border: none; */
    text-align: center;
    resize: none;
    width: 190px;
    /* height: 90px; */
    position: relative;
    background-color: transparent;
    font-size: 25px;
  }
  label {
    display: contents;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}
}
 </style>
  <form target="_blank" method="POST" action="proposta_gerada.php">
    <div id="app" class=" branco row ">
      <div class=" final body normal col-md-3 ">
        <div class="col-7"></div>
        <div class="col-12">
          <div class="primeira col-4 ">
           
            <div class=" ">
              <!-- <small class="text-muted float fontecpf">CPF:</small> -->
              <textarea name="cpf" cols="10" style="position: inline;" id="textare" class=" textare "
                v-model="cpf"></textarea>
            </div>
            <div class=" ">
              <small class="text-muted float">Ano</small>
              <input type="text" class=" impute complete colorInput" 
              value="2019 GASOLINA">
            </div>
            <div class=" ">
              <small class="text-muted float">Marca</small>
              <input type="text" class=" impute complete colorInput"
                value="HONDA">
            </div>
            <div class=" ">
              <small class="text-muted float">Modelo</small>

              <input type="text" name="veiculo" id="veiculo" class=" impute complete colorInput" 

              <input type="text" class=" impute complete colorInput" 

              value="FAN FLEX">
            </div>
            <div class="">
              <small class="text-muted float">UF de licenciamento</small>
              <input type="text" class=" impute complete colorInput"
                value="Distrito Federal">
            </div>
            <div class="">
              <small class="text-muted float">Valor do Veículo</small>
              <input type="text" v-model="valor" class=" impute complete
                colorInput">
            </div>
            <div class="">
              <small class="text-muted float">Nome da loja:</small>
              <input type="text" class=" impute complete colorInput"
                v-model="loja" :placeholder="loja">
            </div>
            <div class="">
              <img src="img/edit.svg"> &nbsp;
              <small class="text-muted float"> EDITAR</small>
            </div>
          </div>
        </div>
      </div>
      <!-- Corpo -->

      <div class=" branco col-3 ">
        <ul>
          
          <input name="nome_cliente" id="nome_cliente" v-model="cliente" class="h1 impute-zerado1 pesquisaR "/>
          <div class="cliente"></div>
          <div style="max-width: 100%; max-height: 100%;">
            <!-- {{valorCalc}} {{entradaReal}} {{liberado}} {{porcentagem2}} {{brutoCalc}} {{entradaMin}} {{entradaMinRs}} -->
            <div :style="{'margin-left': porcentagemMinima + '%'}" class=" content forma2">
              <div class=" forma1"></div>
              <p class="texteforma">Entrada minima</p>
              <input v-model="entradaReal" :style="{'padding-bottom': porcentagemMinima +'%'}" class="bordainvisivel p-0  fontebols">
            </div>
           
            <input type="range" @click="getPosition($event)" min="0" max="100" :value="porcentagem2" class=" cor-imput"
              id="formRange1" />
            <!-- <div :style="{left: left + 'px', top: top + 'px'}" class="pinguelo completapinguelo">{{porcentagem2}}%
            </div> -->
          </div>
          <div class="row">
            <div class=" d-flex ">
            <div class="col-4 align-self-stretch m-1 text-muted float fonte">Valor da entrada
              <input type="text" v-model="entradaMinRs" class=" fonte impute
                complete">
            </div>
            <div class="col-4 align-self-stretch m-1 text-muted float fonte">Valor Liberado

              <input type="text" name="liberado" id="liberado" class="  fonte impute complete" :value="liberado1" placeholder="R$ 0,00">
            </div>
            
            <div class="col-4 align-self-stretch m-1 text-muted float fonte">Parcelas   
              <select name="parcela" id="parcela" type="select" v-model="parcelas" class="  fonte impute

              <input type="text" class="  fonte impute complete" :value="liberado1" placeholder="R$ 0,00">
            </div>
            
            <div class="col-4 align-self-stretch m-1 text-muted float fonte">Parcelas   
              <select type="select" v-model="parcelas" class="  fonte impute

                complete">
                <option>{{parcelas}}</option>
                <option>60</option>
                <option>48</option>
                <option>36</option>
                <option>24</option>
              </select>
            </div>
          </div>
          </div>
          <br>
          <br>
          <div class="col-12">
            <img src="img/desconto.svg"> Desconto?
            <input type="text" v-model="desconto" class=" impute-zerado "
              placeholder="Adicionar">
          </div>
          <br>

          <div class="row">
            <b class="forma">Formas de Pagamento</b>
            
              <div class="col-md-6">
              <input type="radio" name="paga"> <label> Boleto {{loja}}</label> 
            </div>
            <div class="col-md-6">
              <input type="radio" name="paga"> <label> Pix {{loja}}</label>
           </div>
          
            <p class="pagamentos m-1">Seu Veículo é liberado automaticamente com
              pagamento
              via PIX</p>
          </div>
          <hr>
          <div>


            <p>Benefícios</p>
            <p>Cliente Santander tem mais vantagens.<br>
              Confira:</p>
            <li class="p-0 m-0 pagamentos">Bônus de até 1,8% no valor de cada
              parcela do financiamento em
              débito automático.</li>

            <hr>
          </div>
        </ul>
        <!-- Fim meio -->
      </div>
      <!--  -->

      <!-- Fim Corpo -->
      <div class="ultima branco col-md-4 ">

        <!-- <h1 class=" pesquisaR text-start ">CECILIO CARDOSO </h1> -->
        <div class=" cliente"></div>
        <div class="linnha "></div>

        <div class="margem text-parcela"> Valor das parcelas de</div>
        <input type="hidden" name="valor_parcela" id="valor_parcela" v-model="valorParcela">
        <small class="margem col-3 valor-parcelas text-end"> {{parcelas}}</small><small
          class="col-3 align-text-top xXtex ">X</small><small
          class="valor-parcelas col-5">R$ {{valorParcela}}</small>

        <div> <br><br>
       
          <div class="margem mensagemUm nots ">
            <div class="check"></div>
            <b>Você sabia?</b>Cliente {{loja}} é isento de taxa de R$850,00 Reais do financiamentoe e 
            ainda recebe transporte para todo o Brasil. <b>Para mais informações. clique aqui.</b>
          </div>
          <br><br>
          <div class="margem mensagemdos nots">
            <div class="moneyA imgmonye"></div>
            <b>Deixe seu sonho ACONTECER</b><br>
            A parcela cabe no seu bolso? Então garanta essa condição por 30
            dias.
          </div>

          <div class="">
        
            <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="carregarDADOS()" class="margem botao">ACEITAR PROPOSTA</button>
          </div>
       
        </div>
      </div>

      <!-- Finel End -->
    </div>
    <!--  -->
    <!-- Final completo -->
    <div>
      <!--  -->
      <!-- Footer -->

      <footer style="background-color: white; color: black; font-size: 12px;
        padding-top: 15px; padding-bottom: 10px;" class="card content-footer
        footer bg-footer-theme">
        <div class=" container-xxl d-flex flex-wrap justify-content-between py-2
          flex-md-row flex-column">
          <div class=" ">
            ® AYMORÉ CRÉDITO, FINANCIAMENTO E INVESTIMENTO S.A <br><b>ACESSO
              SEGURO</b>
          </div>
          <div>
          </div>
        </div>
      </footer>

      <footer style="background-color: #4d4c59; color: white; font-size: 12px;
        padding-bottom: 15px; " class="content-footer footer bg-footer-theme">
        <div class="container-xxl d-flex flex-wrap justify-content-between py-2
          flex-md-row flex-column">
          <div class=" mb-2 mb-md-0">
            CENTRAL DE SUPORTE A VENDAS SANTANDER FINANCIAMENTOS: CAPITAIS E
            REGIÕES METROPOLITANAS 4004-9090DEMAIS REGIÕES 0800-722-9090<br>

            De segunda à sexta-feira, das 8h às 20h. Sábado das 9h às 14h,
            exceto feriados.
          </div>
          <div>

          </div>
        </div>
      </footer>
      <!-- / Footer -->
     <!-- Trigger/Open The Modal -->

 <img class="wpp" src="img/whatsapp.png">

    </body>
    <script src="vue.js"></script>
    <script src="config.js"></script>
    <script
   
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"></script>
     
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Confira os dados do PDF!</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <label for="floatingEmptyPlaintextInput">Nome Cliente</label>
            <input class="form-control" type="text" placeholder="Nome Cliente" name="cliente_n"  id="cliente_n">
            <label for="floatingEmptyPlaintextInput">CPF</label>
            <input class="form-control" type="text" placeholder="CPF" name="cpf_n" id="cpf_n">
            <label for="floatingEmptyPlaintextInput">Veiculo</label>
            <input class="form-control" type="text" placeholder="Veiculo" name="veiculo_n" id="veiculo_n">
            <label for="floatingEmptyPlaintextInput">Tipo do Veiculo Carro/Moto</label>
            <input class="form-control" type="text" placeholder="Tipo do Veiculo Carro/Moto" name="tipoveiculo_n" id="tipoveiculo_n" required>
            <label for="floatingEmptyPlaintextInput">Valor Liberado</label>
            <input class="form-control" type="text" placeholder="Valor Liberado" name="liberado_n" id="liberado_n">
            <label for="floatingEmptyPlaintextInput">Valor Pendente</label>
            <input class="form-control" type="text" placeholder="Valor Pendente" name="pendente_n" id="pendente_n" value="R$ 1.000,00" required>
            <label for="floatingEmptyPlaintextInput">Quantidade de Parcelas</label>
            <input class="form-control" type="text" placeholder="Quantidade de Parcelas" name="parcela_n" id="parcela_n">
            <label for="floatingEmptyPlaintextInput">Valor de cada parcela</label>
            <input class="form-control" type="text" placeholder="Valor de cada parcela" name="valorparcela_n" id="valorparcela_n">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">GERAR PROPOSTA</button>
            </div>
          </div>
        </div>
      </div>
      </form>
      
  </html>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <script>
 function carregarDADOS(){
      const nome_cliente = document.getElementById("nome_cliente").value;
      const textare = document.getElementById("textare").value;
      const veiculo = document.getElementById("veiculo").value;
      const liberado = document.getElementById("liberado").value;
      const parcela = document.getElementById("parcela").value;
      const valor_parcela = document.getElementById("valor_parcela").value;
      document.getElementById("cliente_n").value = nome_cliente;
      document.getElementById("cpf_n").value = textare;
      document.getElementById("veiculo_n").value = veiculo;
      document.getElementById("liberado_n").value = liberado;
      document.getElementById("parcela_n").value = parcela;
     document.getElementById("valorparcela_n").value = valor_parcela;
    }
  document.addEventListener("DOMContentLoaded", function(){
   var txtarea = document.querySelector("textarea.textare");
   txtarea.style.height = txtarea.scrollHeight+"px";
    });
    new Vue({
      el: '#app',
      data: {
        cliente: '         Cliente: PRIMEIRO SEGUNDO NOME COMPLETO',
        cpf: 'CPF: 123.456.789-11',
        ano: '',
        left: 642,
        top: 265,
        marca: '',
        modelo: '',
        uf: '',
        valor: 'R$ 8.000,00',
        valorCalc: 0,
        loja: 'ALFA MOTORS',
        desconto: '',
        entrada: 'R$ 1.100,00',
        entradaReal: 1,
        liberado: 1100,
        entradaMin: 700,
        entradaMinRs: 'R$ 1.100,00',
        liberado1: 'R$ 54.000,00',
        parcelas: 24,
        brutoCalc: 0,
        porcentagem: 0,
        porcentagem2: 0,
        valorParcela: 0,
        juros: 0.006,
        porcentagemMinima: 14,

      },
      
      methods: {
        CalcularJuros(){
         const jurus = this.liberado * this.juros * this.parcelas;
         const soma = +this.liberado + jurus ;
         const calculo = soma / this.parcelas;
         this.valorParcela = calculo.toFixed(2);

        },
        LiberadoReativo(){
          const calculo = +this.valorCalc - this.entradaMin;
          this.liberado = calculo;
          const valor = +this.liberado;
          this.liberado1 = valor.toLocaleString('pt-BR', {style: 'currency', currency: 'BRL'});
          this.CalcularJuros();
        },
        ValorEntradaReal(){
          const teste =  'R$ 1.100,00';
          const teste2 = this.entradaMinRs.replace("R$", "").replace(",", ".").replace(".", ",");
          const teste3 =  teste.replace(",", "").replace("R$ ", "").replace(".", "");
          const teste4 =  Math.floor(+teste3 / 100) 
          this.entradaMin = +teste4;
          
          // ( ( valor_usado - valor_inicial ) / valor_inicial ) * 100
        },
        ValorReal(){
          const valorReAL = this.valor.replace("R$", "").replace(",", ".").replace(".", ",");
          const valorReal = valorReAL.replace(",", "")
          this.valorCalc = +valorReal;
          // ( ( valor_usado - valor_inicial ) / valor_inicial ) * 100
        },
        ValorEntrada(){
          const valorReAL = this.entrada.replace("R$", "").replace(",", ".").replace(".", ",");
          const valorReal = valorReAL.replace(",", "")
          this.entradaReal = +valorReal;
        },
        PorcentagemDaEntrada(){
          const entrada = this.entradaReal.replace("R$", "").replace(",", ".").replace(".", ",");
          const valorEntrada = entrada.replace(",", "")
          const calculo = (+valorEntrada / this.valorCalc) * 100;
          this.porcentagemMinima = calculo;
        },
        ValorLiberado(){
          const valorReAL = this.liberado1.replace("R$", "").replace(",", ".").replace(".", ",");
          const valorReal = valorReAL.replace(",", "")
          this.liberado = +valorReal;
        },
        CalculoPorcentagem(){
          const calculoPor = (+this.liberado / +this.valorCalc) * 100;
          const calculoPuro = (+this.liberado / +this.valorCalc);
          this.brutoCalc = calculoPuro;
          this.porcentagem = 14;
        },
        getPosition(event) {
           const formRange1 = document.querySelector("#formRange1");
          
           formRange1.addEventListener("click", (event) => {
              const input = event.target;
              const inputRect = input.getBoundingClientRect();
        
              if (event.clientX >= inputRect.left && event.clientX <= inputRect.right
                  && event.clientY >= inputRect.top && event.clientY <= inputRect.bottom) {
                this.left = event.clientX - 20;
                this.top = event.clientY - 22;
              
              } 
            });
            this.porcentagem2 = formRange1.value;  
          },
          EntradaReais(){
           const entrada = this.entradaMin.toLocaleString('pt-BR', {style: 'currency', currency: 'BRL'});
         
            this.entradaMinRs = entrada;
          //  console.log(this.entradaMin);
          },
          PrimeiraEntrada(){
            // const calculo2 =  +this.valorCalc * (14 / 100);
            const calculo2 =  1100;
           // const naoerra = (calculo2 / +this.valorCalc) * 100
            this.entradaReal = calculo2.toLocaleString('pt-BR', {style: 'currency', currency: 'BRL'});;
           // console.log(naoerra);
          },
          
          EntradaRelativa(){
           
            const porcentagem = +this.valorCalc / this.porcentagem2;
            const calculando = +this.valorCalc * this.porcentagem2;
            this.entradaMin = +Math.floor(calculando / 100).toFixed(2);
            this.EntradaReais();
            this.LiberadoReativo();
            
          },
         
         PorcentagemMinima(){
          if(this.porcentagem2 < +this.porcentagem){
            this.porcentagem2 = +this.porcentagem;
          }
         },
        
        Entrada(){
          // const contar = this.entrada / this.valor;
        }
      },
      watch: {
        entradaReal(nova){
          if(nova != 'R$ 0.000,00'){
            this.PorcentagemDaEntrada();
          }
        },
        entradaMinRs(nova){
          if(nova != 'R$ 0.000,00'){
            this.ValorEntradaReal();
            this.LiberadoReativo();
           // this.CalcularJuros();
          }
        },
        valor(novo, antigo){
          if(novo != 'R$ 0.000,00'){
          this.ValorReal();
          this.CalculoPorcentagem();
          this.CalcularJuros();
          this.LiberadoReativo();
          this.EntradaRelativa();
          this.PrimeiraEntrada();
          this.PorcentagemMinima();
          }
        },
        parcelas(){
          this.CalcularJuros();
        },
        entradaMin(novo){
          this.EntradaReais();
        },
        left(novo){
          this.EntradaRelativa();
          this.LiberadoReativo();
        },
        porcentagem2(novo){
          this.EntradaRelativa();
        }
        
      },
      created(){
        this.ValorReal();
     //   this.ValorEntrada();
        this.ValorLiberado();
        this.CalculoPorcentagem();
        this.CalcularJuros();
        this.PorcentagemMinima();
        this.PrimeiraEntrada();
      },
      updated(){
      //   this.PorcentagemMinima()
      //   this.ValorReal();
      // //  this.ValorEntrada();
      //   this.ValorLiberado();
      //   this.CalculoPorcentagem();
      //   this.CalcularJuros();
       
      },
    

    });
   
  
  </script>